#secret-page {
    background: url("/public/textures/background-texture.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.player-wrapper {
    height: 350px; 
    /* height: 166px; */
}